td {
    vertical-align: bottom;
}

table {
    border: 0;
    border-collapse: collapse;
}

img {
    width: 300px;
}

input[type=text] {
    width: 300px;
}

table {
    width: 1200px;
}

td {
    padding: 10px;
}
